

.tab-view {
    margin-top: 20px;
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20px;
    border: 1px solid #81B5DF;
    border-radius: 3px;
}

.icn-spinner {
    font-size: 1.5em;
    color: blue;
}

.marg {
    margin-bottom: 20px;
}

.marg-40 {
    margin-bottom: 40px;
}

.has-success {
    color: green;
    font-weight: 700;
}

.has-error {
    color: red;
    font-weight: 700;
}